---
import Layout from "@Layouts/app.layout.astro";
import TransactionsList from "@Components/shopingui/dashboard/TransactionList.astro";
import StatsCard from "@Components/dashboard/StatsCard.astro";
import TrendChart from "@Components/shopingui/dashboard/TrendChart.astro";
import SalesDonut from "@Components/shopingui/dashboard/SalesDonut.astro";
---

<Layout title="Shopify">
	<div class="px-4 py-6 mx-auto max-w-7xl sm:px-6 lg:px-8">
		<div class="sm:flex sm:items-center">
			<div class="sm:flex-auto">
				<h1
					class="text-2xl font-semibold text-slate-900 dark:text-white"
				>
					Dashboard
				</h1>
			</div>
			<div class="mt-4 sm:mt-0 sm:ml-16 sm:flex-none">
				<div class="relative">
					<div
						class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"
					>
						<svg
							class="w-4 h-4 text-gray-500 dark:text-gray-400"
							aria-hidden="true"
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							viewBox="0 0 20 20"
						>
							<path
								stroke="currentColor"
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-width="2"
								d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
							></path>
						</svg>
					</div>
					<input
						type="search"
						id="shopinguiSearch"
						class="block
                            w-full
                            p-4
                            ps-10
                            text-sm
                            border
                            rounded-lg
                            text-gray-900
                            placeholder-gray-500
                            bg-secondary-800
                            border-gray-300
                            focus:ring-blue-500
                            focus:border-blue-500
                            dark:bg-primary-700
                            dark:border-gray-700
                            dark:placeholder-gray-400
                            dark:text-white
                            dark:focus:ring-blue-500
                            dark:focus:border-blue-500"
						placeholder="Search Mockups, Logos..."
						required
					/>
					<button
						type="submit"
						class="text-white absolute end-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
						id="shopinguiSearchButton">Buscar</button
					>
				</div>
			</div>
		</div>
	</div>
	<div class="mt-8 flex flex-col">
		<div class="grid grid-cols-2 sm:grid-cols-4 gap-4">
			<StatsCard
				title="Ordenes de Compra"
				value={`1000`}
				className="bg-blue-500 text-white"
			/>
			<StatsCard
				title="Clientes"
				value={"250"}
				className="bg-yellow-500 text-white"
			/>
			<StatsCard
				title="Productos"
				value={`1500`}
				className="bg-red-500 text-white"
			/>
			<StatsCard
				title="Churn Rate"
				value={`25%`}
				className="bg-teal-500 text-white"
			/>
		</div>
		<div class="mt-8 grid grid-cols-1 sm:grid-cols-2 gap-6">
			<div
				class="rounded-lg p-6 bg-gray-50/25 dark:bg-gray-800/25 shadow-md"
			>
				<TrendChart />
			</div>
			<div
				class="rounded-lg p-6 bg-gray-50/25 dark:bg-gray-800/25 shadow-md"
			>
				<SalesDonut />
			</div>
		</div>
	</div>

	<div class="mt-8">
		<TransactionsList />
	</div>
</Layout>
<script>
	const searchInput = document.getElementById(
		"shopinguiSearch",
	) as HTMLInputElement;
	const searchButton = document.getElementById("shopinguiSearchButton");
	async function handleSearch() {
		const query = searchInput.value.trim();
		if (!query) return;

		try {
			const response = await fetch(
				`/api/shopingui/search?terms=${encodeURIComponent(query)}`,
			);
			if (!response.ok) throw new Error("Search failed");

			const results = await response.json();
			console.log(results);

			// Show results view
		} catch (error) {
			console.error("Error searching products:", error);
		}
	}
	searchButton?.addEventListener("click", handleSearch);
	searchInput?.addEventListener("keypress", (e) => {
		const input = document.getElementById(
			"searchInput",
		) as HTMLInputElement;
		if (e.key === "Enter" || input.value.length > 2) {
			handleSearch();
		}
	});
</script>
