---
import Layout from "@Layouts/app.layout.astro";
import BreadCrumbs from "@Components/BreadCrumbs.astro";
import QuotationForm from "@Components/quotations/QuotationForm.astro";

const breadcrumbs = [
	{
		label: "Quotations",
		path: "/quotations",
	},
	{
		label: "Crear",
		path: "/quotations/new",
	},
];
---

<Layout title="Nueva cotización">
	<div
		class="shadow-md rounded-lg overflow-hidden transition-shadow hover:shadow-lg"
	>
		<div
			class="p-4 block sm:flex items-center justify-between border-b border-gray-200 lg:mt-1.5"
		>
			<div class="w-full mb-1">
				<BreadCrumbs
					routes={breadcrumbs}
					currentRoute={Astro.url.pathname}
					headerTitle="Crear Cotización"
				/>
			</div>
		</div>
		<div class="flex flex-col">
			<div class="overflow-x-auto">
				<div class="inline-block min-w-full align-middle">
					<QuotationForm />
				</div>
			</div>
		</div>
	</div></Layout
>
