<form id="createForm" class="space-y-6">
	<input type="hidden" name="quotationId" id="quotationId" value="" />
	<section class="flex flex-col">
		<div class="overflow-x-auto"></div>
	</section>
</form>
