---
import Layout from "../../layouts/main.layout.astro";
import CsrfToken from "@Components/CsrfToken.astro";
import { generateCsrfToken, setCsrfCookie } from "../../lib/session";
import { redirectIfAuthenticated } from "../../middleware/auth";
import { asset } from "../../lib/utils/functions";
import { APP_NAME, APP_SHORT_VERSION } from "@Configs/constants";
// Redirect if already authenticated
await redirectIfAuthenticated(Astro);
// Generate CSRF token
const csrfToken = generateCsrfToken();
Astro.response.headers.append("Set-Cookie", setCsrfCookie(csrfToken));
---

<Layout title="Login">
	<div
		class="flex min-h-screen flex-col justify-center px-6 pt-8 mx-auto pt:mt-0
        bg-gradient-to-b
		text-gray-800
        dark:text-white
		from-secondary-600
		to-primary-600
        dark:from-secondary-300
		dark:to-primary-300"
	>
		<a
			href="/"
			class="flex items-center justify-center mb-8 text-2xl font-semibold lg:mb-10 dark:text-white"
		>
			<img
				src="/assets/img/logos/logo.png"
				alt="FlowBite Logo"
				class="mr-4 h-11"
			/>
			<span>{APP_NAME} v{APP_SHORT_VERSION}</span>
		</a>
		<!-- Card -->
		<div
			class="p-6 space-y-8 sm:p-8 sm:mx-auto sm:w-full sm:max-w-sm bg-white/25 rounded-lg shadow dark:bg-gray-800/25"
		>
			<form class="space-y-6" id="signinForm">
				<CsrfToken token={csrfToken} />

				<div>
					<label
						for="email_user"
						class="block text-sm font-medium leading-6 text-gray-900 dark:text-gray-200"
					>
						Email o Usuario
					</label>
					<input
						id="email_user"
						name="email_user"
						type="text"
						autocomplete="email"
						required
						placeholder="Digite su E-mail o Usuario"
						class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 dark:bg-gray-700 dark:text-white dark:ring-gray-600"
					/>
				</div>

				<div>
					<div class="flex items-center justify-between">
						<label
							for="password"
							class="block text-sm font-medium leading-6 text-gray-900 dark:text-gray-200"
						>
							Password
						</label>
						<div class="text-sm">
							<a
								href="/auth/forgot-password"
								class="font-semibold text-indigo-600 hover:text-indigo-500"
							>
								Forgot password?
							</a>
						</div>
					</div>
					<input
						id="password"
						name="password"
						type="password"
						placeholder="••••••••"
						autocomplete="current-password"
						required
						class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 dark:bg-gray-700 dark:text-white dark:ring-gray-600"
					/>
				</div>

				<div class="flex items-start flex-wrap">
					<div class="flex items-center h-5">
						<input
							id="remember"
							aria-describedby="remember"
							name="remember"
							type="checkbox"
							class="w-4 h-4 border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300 dark:focus:ring-primary-600 dark:ring-offset-gray-800 dark:bg-gray-700 dark:border-gray-600"
							required
						/>
					</div>
					<div class="ml-3 text-sm">
						<label
							for="remember"
							class="font-medium text-gray-900 dark:text-white"
							>Remember me</label
						>
					</div>
					<a
						href="#"
						class="ml-auto mt-4 text-left text-sm text-primary-700 hover:underline dark:text-primary-500 w-full"
						>Lost Password?</a
					>
				</div>

				<div>
					<button
						type="submit"
						class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
					>
						Sign in
					</button>
				</div>
			</form>

			<p class="mt-10 text-center text-sm text-gray-500">
				Not a member?
				<a
					href="/auth/signup"
					class="font-semibold leading-6 text-indigo-600 hover:text-indigo-500"
				>
					Create an account
				</a>
			</p>
		</div>
	</div>
</Layout>
<script>
	import { showSuccess, showError } from "../../lib/utils/notifications";

	const form = document.getElementById("signinForm");
	form?.addEventListener("submit", async (e) => {
		e.preventDefault();
		const formData = new FormData(form as HTMLFormElement);
		const user = formData.get("email_user")?.toString();
		const password = formData.get("password")?.toString();

		if (!user || !password) {
			showError("Email and password are required");
		} else {
			const data = {
				terms: user,
				password: password,
				remember: formData.get("remember"),
			};

			try {
				const response = await fetch("/api/auth/login", {
					method: "POST",
					headers: { "Content-Type": "application/json" },
					body: JSON.stringify(data),
				});
				if (response.ok) {
					showSuccess("OK");
					// Set session cookie
					console.log(response);
					window.location.href = "/dashboard";
				} else {
					const errors = await response.json();
					showError(errors.message || "Something went wrong");
				}
			} catch (error) {
				console.log("Error: ", error);
				showError("Something went wrong");
			}
		}
	});
</script>
