---
import LayoutStacked from '../../layouts/app.layout.astro';
import FormProfileLock from '../../components/accounts/FormProfileLock.astro';
---

<LayoutStacked title='Lock Account'>
	<div class="min-h-screen align-middle flex pb-[12vh]">
		<FormProfileLock />
	</div>
</LayoutStacked>
