---
import LayoutStacked from "../../layouts/main.layout.astro";
import FormResetPassword from "@Components/FormResetPassword.astro";
---

<LayoutStacked title="Reset Password">
	<div class="min-h-screen align-middle flex pb-[12vh]">
		<FormResetPassword />
	</div>
</LayoutStacked>
