---
import BaseLayout from "../layouts/guest.layout.astro";
// import { APP_NAME, APP_SHORT_VERSION, APP_DESC } from "../configs/constants";
import { db, eq } from "astro:db";
import ProductCard from "../components/ProductCard.astro";
import { Product, ProductRelations, Image } from "astro:db";
import FQA from "../components/fqa.astro";
import Hero from "../components/Hero.astro";

const products = await db
	.select({
		id: Product.id,
		name: Product.name,
		short_desc: Product.short_description,
		image_url: Image.url,
	})
	.from(Product)
	.leftJoin(ProductRelations, eq(ProductRelations.product_id, Product.id))
	.leftJoin(Image, eq(Image.id, ProductRelations.image_id))
	.orderBy(Product.created_at)
	.limit(8);
---

<BaseLayout title="Home">
	<main class="mx-auto py-6 sm:px-4 lg:px-6">
		<div class="px-4 py-6 sm:px-2">
			<Hero />
			<div class="container mx-auto px-4 py-6">
				<h1
					class="text-3xl font-bold text-gray-900 dark:text-white mb-8"
				>
					Ultimos Productos
				</h1>

				<div
					class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6"
				>
					{
						products.map((product) => (
							<ProductCard
								id={product.id}
								name={product.name}
								short_description={
									product.short_desc ?? undefined
								}
								image_url={product.image_url ?? undefined}
								price={0.0}
							/>
						))
					}
				</div>
			</div>
		</div>
		<div class="flex flex-col items-center justify-center gap-4 mt-10">
			<FQA />
		</div>
	</main>
</BaseLayout>
