<p class="my-6 text-sm text-center text-gray-200 bottom-0">
	&copy; 2022 - {new Date().getFullYear()} —
	<a href="https://bytes4run.com/" class="hover:underline" target="_blank"
		>Bytes4Run</a
	>. rights limited.
</p>
