---
import BaseLayout from "@Layouts/app.layout.astro";
import BreadCrumbs from "@Components/BreadCrumbs.astro";
import GeneralInformationForm from "@Components/products/GeneralInformationForm.astro";
import VariantsForm from "@Components/products/VariantsForm.astro";
import DescriptionForm from "@Components/products/DescriptionForm.astro";
import GoogleTaxonomyForm from "@Components/products/GoogleTaxonomyForm.astro";
import ProductStockForm from "@Components/products/ProductStockForm.astro";
import ProductLogisticsForm from "@Components/products/ProductLogisticsForm.astro";

const breadcrumbs = [
	{
		label: "Productos",
		path: "/products",
	},
	{
		label: "Crear",
		path: "/products/create",
	},
];
---

<BaseLayout title="Crear Producto">
	<div
		class="shadow-md rounded-lg overflow-hidden transition-shadow hover:shadow-lg"
	>
		<div
			class="p-4 block sm:flex items-center justify-between border-b border-gray-200 lg:mt-1.5"
		>
			<div class="w-full mb-1">
				<BreadCrumbs
					routes={breadcrumbs}
					currentRoute={Astro.url.pathname}
					headerTitle="Crear Producto"
				/>
			</div>
		</div>

		<div class="flex flex-col">
			<div class="overflow-x-auto">
				<div class="inline-block min-w-full align-middle">
					<form id="createForm" class="space-y-6">
						<input
							type="hidden"
							name="productId"
							id="productId"
							value=""
						/>
						<section class="flex flex-col">
							<div class="overflow-x-auto">
								<div
									class="relative shadow-md sm:rounded-lg bg-gray-50/25 dark:bg-gray-800/25"
								>
									<div
										class="p-4 space-y-3 md:space-y-0 md:space-x-4 overflow-hidden"
									>
										<div
											class="mb-4 border-b border-gray-200/25 dark:border-gray-700/25"
										>
											<ul
												class="flex flex-wrap -mb-px text-sm font-medium text-center text-gray-600 border-b border-gray-400 dark:border-gray-500 dark:text-gray-300"
												id="default-tab"
												data-tabs-toggle="#default-tab-content"
												role="tablist"
											>
												<li
													class="me-2"
													role="presentation"
												>
													<button
														class="inline-block p-4 border-b-2 rounded-t-lg text-primary-600 bg-gray-100/75 dark:bg-gray-600/75 dark:text-gray-100"
														id="productGeneral-tab"
														data-tabs-target="#productGeneral"
														type="button"
														role="tab"
														aria-controls="productGeneral"
														aria-selected="false"
														>General</button
													>
												</li>
												<li
													class="me-2"
													role="presentation"
												>
													<button
														class="inline-block p-4 border-b-2 rounded-t-lg"
														id="productVariants-tab"
														data-tabs-target="#productVariants"
														type="button"
														role="tab"
														aria-controls="productVariants"
														aria-selected="false"
														>Variantes</button
													>
												</li>
												<li
													class="me-2"
													role="presentation"
												>
													<button
														class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
														id="productDesc-tab"
														data-tabs-target="#productDesc"
														type="button"
														role="tab"
														aria-controls="productDesc"
														aria-selected="false"
														>Descripción</button
													>
												</li>
												<li
													class="me-2"
													role="presentation"
												>
													<button
														class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
														id="productPrices-tab"
														data-tabs-target="#productPrices"
														type="button"
														role="tab"
														aria-controls="productPrices"
														aria-selected="false"
														>Precios</button
													>
												</li>
												<li
													class="me-2"
													role="presentation"
												>
													<button
														class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
														id="productStock-tab"
														data-tabs-target="#productStock"
														type="button"
														role="tab"
														aria-controls="productStock"
														aria-selected="false"
														>Stock</button
													>
												</li>
												<li
													class="me-2"
													role="presentation"
												>
													<button
														class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
														id="productLogistics-tab"
														data-tabs-target="#productLogistics"
														type="button"
														role="tab"
														aria-controls="productLogistics"
														aria-selected="false"
														>Logistica</button
													>
												</li>
											</ul>
										</div>
										<div id="default-tab-content">
											<!-- General -->
											<div
												class="hidden p-4 rounded-lg bg-gray-50/25 dark:bg-gray-700/25"
												id="productGeneral"
												role="tabpanel"
												aria-labelledby="productGeneral-tab"
											>
												<GeneralInformationForm />
											</div>

											<!-- Product Variants -->
											<div
												class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-700"
												id="productVariants"
												role="tabpanel"
												aria-labelledby="productVariants-tab"
											>
												<VariantsForm />
											</div>

											<!-- Product Tags -->
											<div
												class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800"
												id="productDesc"
												role="tabpanel"
												aria-labelledby="productDesc-tab"
											>
												<DescriptionForm />
											</div>

											<!-- Taxonomy & Prices -->
											<div
												class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800"
												id="productPrices"
												role="tabpanel"
												aria-labelledby="productPrices-tab"
											>
												<GoogleTaxonomyForm />
											</div>

											<!-- Stock -->
											<div
												class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800"
												id="productStock"
												role="tabpanel"
												aria-labelledby="productStock-tab"
											>
												<ProductStockForm />
											</div>

											<!-- Logistics -->
											<div
												class="hidden p-4 rounded-lg bg-gray-50/25 dark:bg-gray-700/25"
												id="productLogistics"
												role="tabpanel"
												aria-labelledby="productLogistics-tab"
											>
												<ProductLogisticsForm />
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
						<div>
							<button
								type="submit"
								class="inline-flex justify-center rounded-md border border-transparent bg-secondary-400 py-2 px-4 text-sm font-medium text-gray-100 shadow-sm hover:bg-secondary-500 focus:outline-none focus:ring-2 focus:ring-secondary-500 focus:ring-offset-2"
							>
								Guardar Todo
							</button>
						</div>
					</form>
				</div>
			</div>
			<script>
				import { showSuccess, showError } from "@Utils/notifications";
				// import { uploadFile } from "../../lib/utils/upload";

				// Get all required elements
				const commonNameSelect = document.getElementById(
					"productCommonName",
				) as HTMLSelectElement;
				const typeSelect = document.getElementById(
					"productType",
				) as HTMLSelectElement;
				const brandSelect = document.getElementById(
					"productBrand",
				) as HTMLSelectElement;
				const mpnInput = document.getElementById(
					"productMPN",
				) as HTMLInputElement;
				const skuInput = document.getElementById(
					"productSKU",
				) as HTMLInputElement;
				const nameInput = document.getElementById(
					"productName",
				) as HTMLInputElement;
				const upcInput = document.getElementById(
					"productUPC",
				) as HTMLInputElement;
				const eanInput = document.getElementById(
					"productEAN",
				) as HTMLInputElement;
				const productIdInput = document.getElementById(
					"productId",
				) as HTMLInputElement;

				const productDescription = document.getElementById(
					"productDesc",
				) as HTMLElement;
			</script>
		</div>
	</div>
</BaseLayout>
