---
import MainLayout from "./main.layout.astro";
import Navbar from "../templates/navbar.app.template.astro";
import Footer from "../templates/footer.app.template.astro";
import Sidebar from "../templates/sidebar.astro";
import { db, SidebarMenu } from "astro:db";
interface Props {
	title: string;
}
const sidebarMenuItems = await db
	.select({
		id: SidebarMenu.id,
		name: SidebarMenu.name,
		url: SidebarMenu.url,
		icon: SidebarMenu.icon,
		parent_id: SidebarMenu.parent_id,
		position: SidebarMenu.position,
	})
	.from(SidebarMenu)
	.all();

const { title } = Astro.props;
---

<MainLayout title={title}>
	<Sidebar items={sidebarMenuItems} />
	<Navbar />
	<div
		class="flex
        pt-12
        overflow-hidden
		text-gray-800
        dark:text-white
        bg-gradient-to-b from-gray-50 to-gray-300
        dark:from-primary-600 dark:to-primary-200"
	>
		<div
			id="main-content"
			class="relative
				w-full
				h-full
            	overflow-y-auto
            	min-h-screen
            	mx-auto
            	rounded-lg
            	shadow-md
            	lg:ml-64"
		>
			<div class="mx-1 pb-2 mb-2 rounded-lg md:mx-4 md:pb-4 md:mb-4">
				<slot />
			</div>
			<Footer />
		</div>
	</div></MainLayout
>

<link
	href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
	rel="stylesheet"
/>
